[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "mutt/mutt-colors-solarized"]
	path = mutt/mutt-colors-solarized
	url = git://github.com/altercation/mutt-colors-solarized.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/mercenary"]
	path = vim/bundle/mercenary
	url = git://github.com/phleet/vim-mercenary.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vscommand"]
	path = vim/bundle/vscommand
	url = git://repo.or.cz/vcscommand
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/scrollcolors"]
	path = vim/bundle/scrollcolors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/snippets"]
	path = vim/bundle/snippets
	url = https://github.com/honza/vim-snippets.git
